$primary-hue: 149;
$primary-saturation: 100%;
$primary-5: hsl($primary-hue, $primary-saturation, 5%);
$primary-10: hsl($primary-hue, $primary-saturation, 10%);
$primary-20: hsl($primary-hue, $primary-saturation, 20%);
$primary: hsl($primary-hue, $primary-saturation, 33%);
$primary-30: hsl($primary-hue, $primary-saturation, 30%);
$primary-40: hsl($primary-hue, $primary-saturation, 40%);
$primary-50: hsl($primary-hue, $primary-saturation, 50%);
$primary-60: hsl($primary-hue, $primary-saturation, 60%);
$primary-70: hsl($primary-hue, $primary-saturation, 70%);
$primary-80: hsl($primary-hue, $primary-saturation, 80%);
$primary-90: hsl($primary-hue, $primary-saturation, 90%);
$primary-93: hsl($primary-hue, $primary-saturation, 93%);
$primary-95: hsl($primary-hue, $primary-saturation, 95%);
$primary-97: hsl($primary-hue, $primary-saturation, 97%);

$color-text: hsl($primary-hue, 10%, 35%);
$color-heading: hsl($primary-hue, 10%, 10%);
$color-label: hsl($primary-hue, 20%, 50%);
$color-link: hsl($primary-hue, 40%, 20%);
$color-border: hsl($primary-hue, 50%, 90%);
$color-border-dark: hsl($primary-hue, 10%, 80%);
$color-bg: hsl(0, 0%, 100%);
$white-100: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// size
$ac-size-1: 48px;
$ac-size-2: 36px;
$ac-size-3: 28px;
$ac-size-4: 22px;
$ac-size-5: 18px;
$ac-size-6: 16px;
$ac-size-7: 14px;

// small font size
$font-size-medium: 16px;
$font-size-semi-normal: 15px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;
$font-size-tiny: 11px;

// Base Color
$ac-orange: #ff8000;
$ac-yellow: #f7ad2a;
$ac-green: #158748;
$ac-blue: #0aafff;
$ac-purple: #791e94;
$ac-red: #ff3729;
