//  color variable
$ac-primary: hsl(149, 100%, 33%);
// $ac-secondary: hsl(209%, 100%, 20%);

// $ac-color-text: #3b3030;
$ac-color-label: hsl(149, 20%, 50%);
$ac-color-link: hsl(149, 40%, 20%);
$ac-color-value: hsl(149, 20%, 20%);
$ac-color-text: hsl(149, 10%, 35%);
$ac-color-heading: hsl(149, 10%, 10%);

$ac-black: hsl(0, 0%, 0%);
$ac-bg: hsl(0, 0%, 100%);
$ac-white: hsl(0, 0%, 100%);
$ac-white-light: hsl(149, 5%, 90%);
$ac-white-lighter: hsl(149, 3%, 97%);
$ac-gray-dark: hsl(149, 0%, 40%);
$ac-gray-light: hsl(149, 0%, 55%);
$ac-gray-lightest: hsl(149, 0%, 85%);

// size
$ac-size-1: 48px;
$ac-size-2: 36px;
$ac-size-3: 28px;
$ac-size-4: 22px;
$ac-size-5: 18px;
$ac-size-6: 16px;
$ac-size-7: 14px;

// small font size
$font-size-medium: 16px;
$font-size-semi-normal: 15px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;
$font-size-tiny: 11px;

// Base Color
$ac-orange: #ff8000;
$ac-yellow: #f7ad2a;
$ac-green: #158748;
$ac-blue: #0aafff;
$ac-purple: #791e94;
$ac-red: #ff3729;
