.blog-hero-area {
  .blog-slider-wrapper {
    position: relative;
    z-index: 1;
    height: 620px;
    .social-media-share {
      border: 10px solid $primary-color;
      width: 240px;
      padding: 30px;
      text-align: right;
      position: absolute;
      top: 50%;
      margin-top: -170px;
      right: 0;
      z-index: 9;
      .social-link-vertical {
        ul {
          li {
            display: block;
            margin-bottom: 25px;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              font-size: 20px;
              display: inline-block;
              text-align: center;
              line-height: 46px;
              width: 46px;
              height: 46px;
              border-radius: 50%;
              border: 1px solid#1C2C41;
              color: #1c2c41;
              &:hover {
                color: $white-color;
                background: #1c2c41;
                i {
                  animation: icon-animation 0.9s both;
                }
              }
            }
          }
        }
      }
    }
    .blog-slider-inner {
      position: relative;
      z-index: 1;
      .slider-button {
        position: absolute;
        right: 42.35%;
        bottom: 10px;
        .slide {
          background: #fff;
          border: 1px solid transparent;
          width: 88px;
          height: 80px;
          font-size: 30px;
          cursor: pointer;
          display: block;
        }
      }
      .single-blog {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        display: none;
        &.show {
          opacity: 1;
          visibility: visible;
          display: block;
        }
        .blog-content-wrapper {
          .blog-content-inner {
            padding-right: 50px;
            .meta-date {
              font-size: 16px;
              i {
                color: $primary-color;
              }
            }
            h1 {
              a {
                display: block;
                font-size: 48px;
                line-height: 60px;
                margin-bottom: 10px;
              }
            }
            .description {
              line-height: 26px;
              margin-bottom: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 6;
              -webkit-line-clamp: 6;
              box-orient: vertical;
              -webkit-box-orient: vertical;
            }
            .author {
              font-weight: 500;
              color: $primary-color;
              margin-bottom: 20px;
              span {
                color: $paragraph-color;
                font-weight: 400;
              }
            }
          }
        }
        .blog-slider-image {
          max-width: 82%;
          height: 640px;
          background-size: cover;
          background-position: center;
          display: block;
          user-select: none;
          overflow: hidden;
        }
      }
    }
  }
}
.blog-bg-1 {
  background-image: url(/assets/images/slider-image/s-1.jpg);
}
.blog-bg-2 {
  background-image: url(/assets/images/slider-image/s-2.jpg);
}
.blog-bg-3 {
  background-image: url(/assets/images/slider-image/s-3.jpg);
}
