.blog-hero-area {
  .blog-slider-wrapper {
    position: relative;
    z-index: 1;
    height: 620px;
    .social-media-share {
      border: 10px solid $primary-color;
      width: 240px;
      padding: 30px;
      text-align: right;
      position: absolute;
      top: 50%;
      margin-top: -170px;
      right: 0;
      z-index: 9;
      .social-link-vertical {
        ul {
          li {
            display: block;
            margin-bottom: 25px;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              font-size: 20px;
              display: inline-block;
              text-align: center;
              line-height: 46px;
              width: 46px;
              height: 46px;
              border-radius: 50%;
              border: 1px solid#1C2C41;
              color: #1c2c41;
              &:hover {
                color: $white-color;
                background: #1c2c41;
                i {
                  animation: icon-animation 0.9s both;
                }
              }
            }
          }
        }
      }
    }
    .blog-slider-inner {
      .single-blog {
        .blog-content-wrapper {
          .blog-content-inner {
            padding-right: 50px;
            .meta-date {
              font-size: 16px;
              i {
                color: $primary-color;
              }
            }
            h1 {
              a {
                font-size: 48px;
                line-height: 1;
              }
            }
            .description {
              line-height: 26px;
              margin-bottom: 20px;
            }
            .author {
              font-weight: 500;
              color: $primary-color;
              margin-bottom: 20px;
              span {
                color: $paragraph-color;
                font-weight: 400;
              }
            }
          }
        }
        .blog-slider-image {
          max-width: 82%;
          height: 640px;
          background-size: cover;
          background-position: center;
          display: block;
          user-select: none;
        }
      }
    }
  }
  .slider-pagination{
    display: none;
  }
  .slider-navigation-previous{
    display: none;
  }
  .slider-navigation-next{
    right: 42.4%;
    top: 89%;
    height: 88px;
    width: 88px;
    border-radius: 0;
    margin-left: -44px;
    box-shadow: none;
    svg{
      width: 20%;
      color: $primary-color;
    }
    &:hover{
      transform: scale(1);
    }
  }
  
}
.blog-bg-1{
  background-image: url(/assets/images/slider-image/s-1.jpg);
}
.blog-bg-2{
  background-image: url(/assets/images/slider-image/s-2.jpg);
}
.blog-bg-3{
  background-image: url(/assets/images/slider-image/s-3.jpg);
}