// footer area start
.footer-logo {
  max-width: 200px;
}
.subscription-form {
  margin-top: 10px;
  input {
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 50px 8px 10px;
    height: 40px;
    position: relative;
    z-index: 1;
  }
  .subscription-button {
    font-family: $font-link;
    color: $primary-color;
    border-radius: 0 4px 4px 0;
    padding: 0 13px;
    font-size: 16px;
    height: 40px;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background: transparent;
    &:hover {
      background-color: $primary-color;
      color: $white-color !important;
      border: 1px solid $primary-color;
    }
  }
}
.subscription-form input[type="email"]:focus,
.subscription-form input[type="email"]:hover {
  outline: none;
  box-shadow: none;
}
.contact-information {
  h4 {
    font-size: 18px;
    color: $heading-color;
  }
  margin-top: 28px;
}
.all-contact-info {
  li {
    a {
      color: $list-color;
      display: inline-block;
      font-size: 14px;
      font-family: $font-paragraph;
      padding: 5px 0;
      span {
        padding-right: 10px;
      }
    }
  }
}
p.spam-message {
  color: $list-color;
  display: inline-block;
  font-size: 14px;
  font-family: $font-paragraph;
  padding: 5px 0;
}
.footer-menu {
  h4 {
    font-size: 18px;
    color: $heading-color;
    margin-bottom: 14px;
  }
}
.footer-link {
  li {
    a {
      color: $list-color;
      font-size: 14px;
      display: block;
      padding: 8px 0;
      transition: 0.3s linear;
      &:last-child {
        padding-bottom: 0;
      }
      &:hover {
        color: $primary-color;
        padding-left: 5px;
      }
    }
  }
}
.footer-top {
  background: #fbfdff;
  padding: 50px 0;
}
.footer-bottom {
  padding: 30px 0;
  p {
    font-size: 14px;
    color: $paragraph-color;
    margin-bottom: 0;
  }
}
.footer-inline-link {
  a {
    color: $list-color;
    font-size: 14px;
    margin-right: 30px;
    &:hover {
      color: $primary-color;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.social-link-inline {
  li {
    a {
      color: #8a8a8a;
      font-size: 14px;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid #8a8a8a;
      border-radius: 50%;
      transition: 0.3s ease-in-out;
      &:hover {
        background: $primary-color;
        color: #fff;
        border: 1px solid transparent;
        i{
          animation: icon-animation 0.9s both;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    margin-right: 10px;
    display: inline-block;
  }
}

@-webkit-keyframes icon-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes icon-animation {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

// footer area end
