{{ define "main" }}

<!-- author hero area start  -->
<section class="author-hero-area">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="author-content">
          <figure class="image">
            <img class="is-rounded" src="/assets/images/blog-image/authors/author-1.png">
          </figure>
          <h3>John Doe</h3>
          <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
            philosophy that the core should be small and allow developers to write their own extensions. One way to
            introduce new resource</p>
          <div class="social-link-horizontal">
            <ul>
              <li>
                <a href="http://twitter.com/share?url=http%3a%2f%2flocalhost%3a1313%2fauthor%2f01%2f&amp;text=Author%20page"
                  target="_blank" class="twitter" aria-label="share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=http%3a%2f%2flocalhost%3a1313%2fauthor%2f01%2f&amp;title=Author%20page&amp;summary="
                  target="_blank" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="http://www.facebook.com/sharer.php?u=http%3a%2f%2flocalhost%3a1313%2fauthor%2f01%2f"
                  target="_blank" class="facebook" aria-label="share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="mailto:xyz@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- author hero area end -->


<!-- all blog content start  -->
<div class="blog-items-area section-padding-60">
  <div class="container section">
    <div class="columns">
      <!-- left sidebar start  -->
      <div class="column is-3">
        <div class="blog-left-sidebar">

          <!-- search-bar start  -->
          <!-- <div class="search-bar">
            <input type="search" name="search" placeholder="Search">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div> -->
          <!-- search-bar end -->

          <!-- tags title  -->
          <div class="widget-title">
            <h3>Tags</h3>
          </div>
          <!-- tags title  -->

          <!-- tags start  -->
          <div class="widget-wrapper">
            <div class="tags">
              <a href="/tags/kubernetes" class="tag">kubernetes</a>
              <a href="/tags/crd" class="tag">crd</a>
              <a href="/tags/service-catalog" class="tag">service-catalog</a>
              <a href="/tags/kubernetes" class="tag">kubernetes</a>
              <a href="/tags/crd" class="tag">crd</a>
              <a href="/tags/service-catalog" class="tag">service-catalog</a>
            </div>
          </div>
          <!-- tags end  -->

        </div>
      </div>
      <!-- left sidebar end -->
      <div class="column is-9">
        <div class="columns is-multiline">
          <!-- single blog start  -->
          <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

          <!-- single blog start  -->
          <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

          <!-- single blog start  -->
          <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

          <!-- single blog start  -->
          <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

           <!-- single blog start  -->
           <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

           <!-- single blog start  -->
           <div class="column is-one-third-fullhd is-half-tablet is-one-third-desktop">
            <div class="single-blog-item">
              <div class="blog-image-wrapper">
                <a href="blog-details.html" class="blog-image blog-1"></a>
              </div>
              <div class="single-blog-content">
                <div class="blog-meta">
                  <div class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i>1-Jan-2019</div>
                  <div class="meta-author"><a href="#"><span>by</span>
                      Tamal Saha</a></div>
                </div>
                <div class="blog-description">
                  <h2><a href="/post/appbinding/">The case for AppBinding</a></h2>
                  <p>Kubernetes has become the de-facto orchestrator for the cloud native world. Kubernetes upholds the
                    philosophy that the core should be small and allow developers to write their own extensions. One way
                    to introduce new resource types is using CustomResourceDefintions (CRD) (originally known as
                    ThirdPartyResources). Using CRDs anyone can define a new resource type that behaves like standard
                    Kubernetes resources. This allows anyone to write a controller for custom resources and capture
                    operational knowledge in a software form.</p>
                  <a href="/post/appbinding/" class="inline-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <!-- single blog end -->

        </div>
        <div class="columns">
          <div class="column has-text-centered">
            <div class="load-more-button">
              <a href="#" class="button is-sm-medium is-primary">Load more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- all blog content end -->

{{ end }}