
{{ $p := (index .Site.Data.products "appscode") }}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7BHQZB');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R5J3WVDEFB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R5J3WVDEFB');
  </script>
  <meta charset="UTF-8" />
  <meta name="description"
    content="AppsCode's latest news and announcements, tips and tricks for our cloud-native ecosystem and products such as KubeDB, Stash, Voyager, ByteBuilders, KubeVault, and many more.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#0071BD" />
  <title>{{ .Title }}</title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/favicon-16x16.png">
  <link rel="manifest" href="{{.Site.Params.basePath}}assets/images/products/appscode/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{.Site.Params.basePath}}assets/images/products/appscode/icons/ms-icon-144x144.png">
  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:creator" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
  <meta name="twitter:description" content="{{ $p.tagline | plainify }}">
  <!-- facebook -->
  {{ if .Resources.GetMatch "hero.jpg" }}
  {{ $original := .Resources.GetMatch "hero.jpg" }}
  {{ $cropped := $original.Fill "1300x650" }}
  <meta name="twitter:image:src" content="{{ $cropped.Permalink }}" />
  <meta property="og:image" content="{{ $cropped.Permalink }}" />
  {{ else }}
  <meta name="twitter:image:src"
    content="{{ $.Site.BaseURL }}assets/images/products/bytebuilders/bytebuilders-1280x640.png" />
  <meta property="og:image"
    content="{{ $.Site.BaseURL }}assets/images/products/bytebuilders/bytebuilders-1280x640.png" />
  {{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ $p.tagline | plainify }}" />
  <meta property="og:site_name" content="{{ $p.fullname }}">
  <meta property="og:type" content="article">
  <!-- animate css  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" async />
  <!-- font-awesome css  -->
  <link rel="stylesheet" href="{{.Site.Params.basePath}}assets/css/font-awesome.min.css" defer/>
   <!-- google fonts icon  -->
   <link
   href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
   rel="stylesheet">
  <!-- AOS css  -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" async>
  <!-- bulma css  -->
  <link rel="stylesheet" href="{{.Site.Params.basePath}}assets/css/bulma.min.css" />
  <!-- Custom CSS -->
  {{ with $style := resources.Get "/assets/sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ end }}
  <!-- <link rel="stylesheet" href="{{.Site.Params.basePath}}assets/sass/main.css" /> -->
  <script src="https://tag.clearbitscripts.com/v1/pk_81079761ad5191fbdb09e9f13ff41927/tags.js"></script>
  <script>
    (function () {
      var zi = document.createElement('script');
      zi.type = 'text/javascript';
      zi.async = true;
      zi.referrerPolicy = 'unsafe-url';
      zi.src = 'https://ws.zoominfo.com/pixel/63344a0551510bcd6667d667';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(zi, s);
    })();
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7BHQZB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--[if lte IE 9]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <!-- header-area start -->
  {{ block "header" . }}
  <header>
    {{ block "header-top" . }}
    <!-- new navbar area start  -->
    <div class="navbar-area">
      <div class="navbar-appscode-wrapper ">
        <!-- appscode navbar start  -->
        {{ $currentPageType := cond (le (len (split (trim .Page.RelPermalink "/") "/")) 2) "products" "docs" }}
        <div class="navbar-appscode container height-60">

          <div class="navbar-left">
            <!-- brand logo  -->
            <div class="navbar-brand">
              <a href="{{.Site.Params.domain_appscode}}">
                <img src="/blog/{{$.Site.Data.products.appscode.logoWhite.src}}"
                  alt="{{$.Site.Data.products.appscode.logo.alt}}" />
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <!-- brand logo  -->
          </div>


          <div class="navbar-right">
            <div class="is-flex is-justify-content-space-between is-fullwidth">
              <!-- navbar items start -->
              <ul class="navbar-left-group">
                <li class="nav-item">
                  <button class="link">Products <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                  <div class="mega-menu-wrapper">

                    <!-- ac-grid-container -->
                    <div class="mega-menu-inner container">
                      <button class="button ac-button inline-button back-button"><span
                          class="material-icons-outlined">arrow_back</span>Back</button>
                      <!-- product start  -->
                      <div class="product-menu">
                        {{ range $item := $.Site.Data.config.productMenu.c0 }}
                        {{ $p := (index $.Site.Data.products $item) }}
                        <!-- single product start  -->
                        <a class="single-product"
                          href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}">
                          <div class="product-logo">
                            <img src="/blog/{{ $p.icon.src }}" alt="{{ $p.icon.alt }}">
                          </div>
                          <div class="product-info">
                            <h6>{{ $p.name }}</h6>
                            <p>{{ $p.tagline | plainify }}</p>
                          </div>
                          <div class="navigate-icon">
                            <span class="material-icons">
                              arrow_forward
                            </span>
                          </div>
                        </a>
                        <!-- single product end -->
                        {{ end }}

                        {{ range $item := $.Site.Data.config.productMenu.c1 }}
                        {{ $p := (index $.Site.Data.products $item) }}
                        <!-- single product start  -->
                        <a class="single-product"
                          href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}">
                          <div class="product-logo">
                            <img src="/blog/{{ $p.icon.src }}" alt="{{ $p.icon.alt }}">
                          </div>
                          <div class="product-info">
                            <h6>{{ $p.name }}</h6>
                            <p>{{ $p.tagline | plainify }}</p>
                          </div>
                          <div class="navigate-icon">
                            <span class="material-icons">
                              arrow_forward
                            </span>
                          </div>
                        </a>
                        <!-- single product end -->
                        {{ end }}

                        {{ range $item := $.Site.Data.config.productMenu.c2 }}
                        {{ $p := (index $.Site.Data.products $item) }}
                        <!-- single product start  -->
                        <a class="single-product"
                          href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}">
                          <div class="product-logo">
                            <img src="/blog/{{ $p.icon.src }}" alt="{{ $p.icon.alt }}">
                          </div>
                          <div class="product-info">
                            <h6>{{ $p.name }}</h6>
                            <p>{{ $p.tagline | plainify }}</p>
                          </div>
                          <div class="navigate-icon">
                            <span class="material-icons">
                              arrow_forward
                            </span>
                          </div>
                        </a>
                        <!-- single product end -->
                        {{ end }}
                      </div>
                      <!-- product end -->

                      <!-- product description start  -->
                      {{ range $item := $.Site.Data.config.productMenu.c0 }}
                      {{ $p := (index $.Site.Data.products $item) }}
                      <!-- single product description start  -->
                      <div class="product-description">
                        <div class="brand">
                          <img src="/blog/{{ $p.logo.src }}" alt="{{ $p.logo.alt }}">
                        </div>

                        <p>{{ $p.summary | safeHTML }}</p>

                        {{ $showAllFeatures := "false" }}
                        <ul class="features">
                          {{ range $index, $item := $p.features }}
                          {{ if lt $index 8 }}
                          <li><span class="material-icons">task_alt</span>{{ $item.title }}</li>
                          {{ end }}
                          {{ end }}
                        </ul>
                        <!-- <a href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                     class="button ac-button inline-button">Learn More <span
                       class="material-icons">arrow_forward</span></a> -->
                      </div>
                      <!-- single product description end  -->
                      {{ end }}

                      {{ range $item := $.Site.Data.config.productMenu.c1 }}
                      {{ $p := (index $.Site.Data.products $item) }}
                      <!-- single product description start  -->
                      <div class="product-description">
                        <div class="brand">
                          <img src="/blog/{{ $p.logo.src }}" alt="{{ $p.logo.alt }}">
                        </div>


                        <p>{{ $p.summary | safeHTML }}</p>

                        <ul class="features">
                          {{ range $index, $item := $p.features }}
                          {{ if lt $index 8 }}
                          <li><span class="material-icons">task_alt</span>{{ $item.title }}</li>
                          {{ end }}
                          {{ end }}
                        </ul>
                        <!-- <a href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                     class="button ac-button inline-button">Learn More <span
                       class="material-icons">arrow_forward</span></a> -->
                      </div>
                      <!-- single product description end  -->
                      {{ end }}
                      <!-- product description end -->

                      {{ range $item := $.Site.Data.config.productMenu.c2 }}
                      {{ $p := (index $.Site.Data.products $item) }}
                      <!-- single product description start  -->
                      <div class="product-description">
                        <div class="brand">
                          <img src="/blog/{{ $p.logo.src }}" alt="{{ $p.logo.alt }}">
                        </div>


                        <p>{{ $p.summary | safeHTML }}</p>

                        <ul class="features">
                          {{ range $index, $item := $p.features }}
                          {{ if lt $index 8 }}
                          <li><span class="material-icons">task_alt</span>{{ $item.title }}</li>
                          {{ end }}
                          {{ end }}
                        </ul>
                        <!-- <a href="{{ index $.Site.Params $p.website.domainKey}}{{ $p.website.path }}"
                     class="button ac-button inline-button">Learn More <span
                       class="material-icons">arrow_forward</span></a> -->
                      </div>
                      <!-- single product description end  -->
                      {{ end }}
                      <!-- product description end -->
                    </div>
                  </div>
                  <script type="text/javascript">
                    const productDescriptions = document.querySelectorAll(".product-description");
                    const products = document.querySelectorAll(".single-product");

                    productDescriptions[0].classList.add("is-block");
                    products[0].classList.add('is-active');

                    products.forEach((product, index) => {
                      product.addEventListener("mouseover", function () {
                        const currentActiveProduct = document.querySelector(".product-description.is-block");
                        const currentActiveItem = document.querySelector(".single-product.is-active");

                        currentActiveProduct.classList.remove("is-block");
                        currentActiveItem.classList.remove('is-active');

                        productDescriptions[index].classList.add("is-block");
                        products[index].classList.add("is-active");
                      });
                    });
                  </script>
                </li>

                <li class="nav-item">
                  <button class="link">Resources <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                  <div class="mega-menu-wrapper">
                    <!-- ac-grid-container -->
                    <div class="mega-menu-inner container">
                      <button class="button ac-button inline-button back-button"><span
                          class="material-icons-outlined">arrow_back</span>Back to Resources</button>
                      <!-- list menu items start  -->
                      <div class="resources-list">
                        <!-- single resources list  -->
                        <div class="list-items">
                          <h6>RESOURCES</h6>
                          <ul>
                            <!-- <li><a href="#" target="_blank">Forum</a></li> -->
                            <li><a href="{{.Site.Params.blog_url}}">Blog</a></li>
                            <li><a href="{{.Site.Params.docs_url}}">Docs</a></li>
                            <li><a
                                href="https://www.youtube.com/watch?v=4lkBt5UUEAQ&list=PLoiT1Gv2KR1hAtDDW7fHEi-s2y2H3DOgx"
                                target="_blank">Webinars</a></li>
                            <li><a href="{{.Site.Params.learn_url}}">Learn</a></li>
                            <li><a href="{{.Site.Params.youtube_url}}" target="_blank">Demos</a></li>
                            <!-- <li><a
                                href="https://www.youtube.com/watch?v=xSq0OdlVLRI&list=PLoiT1Gv2KR1gE-WK7dIQ5bsJ_RAVZnzP8"
                                target="_blank">Tutorials</a></li> -->
                            <!-- <li><a href="#" target="_blank">Community</a></li> -->
                          </ul>
                        </div>
                        <!-- single resources list  -->

                        <!-- single resources list  -->
                        <div class="list-items is-hidden">
                          <h6>RECENT NEWS/BLOG</h6>
                          {{- $pctx := . -}}
                          {{- if .IsHome -}}{{ $pctx = .Site }}{{- end -}}
                          {{- $pages := $pctx.RegularPages -}}


                          <div class="press-wrapper">
                            {{ range $idx, $p := $pages.ByDate.Reverse }}
                            {{ if lt $idx 2 }}
                            <!-- single press start  -->
                            <a class="single-press">
                              <div class="calender">
                                <span class="date">{{ $p.Date.Format "2" }}</span>
                                <span class="month">{{ $p.Date.Format "Jan" }}</span>
                              </div>

                              <div class="description">
                                <h6>{{ $p.Title }}</h6>
                                {{ range $author := $p.Params.authors }}
                                <a href="/authors/{{ $author | urlize }}"
                                  class="author"><span>by</span>{{ $author }}</a>
                                {{ end }}
                                <p class="is-ellipsis-2">{{ $p.Summary }}</p>
                              </div>
                            </a>
                            <!-- <a class="single-press">
                          <div class="description">
                            <h6><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a></h6>
                          </div>
                        </a> -->
                            <!-- single press end -->
                            {{ end }}
                            {{ end }}
                            <a href="#" class="button ac-button inline-button">See More <span
                                class="material-icons">arrow_forward</span></a>
                          </div>
                        </div>
                        <!-- single resources list  -->
                      </div>
                      <!-- list menu items end -->
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="/webinar" class="link">Webinar <span class="whats-new">New</span></a>
                </li>
              </ul>
              <!-- navbar items end -->
              <!-- if webinar exist script  -->
              <script type="text/javascript">
                (function () {
                  var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
                  xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                        var result = JSON.parse(xhr.responseText);
                        if (result.schedules) {
                          let endDate = new Date(result.schedules[0]).getTime();
                          let startDate = new Date().getTime();
                          let timeRemaining = parseInt((endDate - startDate) / 1000);
                          if (timeRemaining >= 0) {
                            document.querySelector('.whats-new').classList.add('is-block')
                          }
                        }
                      }
                    }
                  } //
                  // console.log('GET', 'https://x.appscode.com/_/webinars/');
                  xhr.open('GET', 'https://x.appscode.com/_/webinars/');
                  xhr.send();
                }());
              </script>
              <!-- navbar items start -->
             <div class="navbar-right-group">
              <ul>
                <li class="nav-item">
                  <a href="https://support.appscode.com" class="link">Support</a>
                </li>
              </ul>
              <!-- navbar items end -->
              <div class="buttons">
                <a id="ac-sign-in-button" href="https://accounts.appscode.com/user/login"
                class="button ac-button is-loading"><span>SIGN IN</span></a>
                <a href="{{ $.Site.Params.domain_appscode }}/contact/"
                class="button ac-button is-white">CONTACT
                SALES</a>
              </div>
             </div>

            </div>
            {{ $currentPageType := cond (le (len (split (trim .Page.RelPermalink "/") "/")) 2) "products" "docs" }}

          </div>
        </div>
        <!-- appscode navbar end -->
      </div>

      <!-- navbar product end -->

      <script type="text/javascript">
        const navbarRightAll = document.querySelectorAll(".navbar-right");
        const navbarBurgerAll = document.querySelectorAll(".navbar-burger");

        // Create event listeners for each navbar-burger button
        Array.from(navbarBurgerAll).forEach((el, idx) => {
          el.addEventListener("click", function () {

            // Remove visible class from previous selected navbar right
            Array.from(navbarRightAll).forEach((rightEl, rightElIdx) => {
              if (idx !== rightElIdx && navbarRightAll[rightElIdx].classList.contains("is-visible")) {
                navbarRightAll[rightElIdx].classList.remove("is-visible");
                navbarBurgerAll[rightElIdx].classList.remove("is-active");
              }
            });

            const modalBackdropElement = document.querySelector(".modal-backdrop");

            // if modal backdrop element is visible then hide it
            if (modalBackdropElement && modalBackdropElement.classList.contains("is-show")) {
              modalBackdropElement.classList.remove("is-show")
            }

            // if any nav element is visible then hide it
            const activeNavItem = document.querySelector(".nav-item.is-active");
            if (activeNavItem && activeNavItem.classList.contains("is-active")) {
              activeNavItem.classList.remove("is-active");
            }

            navbarRightAll[idx].classList.toggle("is-visible");
          });
        })
      </script>
    </div>
    <!-- new navbar area end -->
    {{ end }}
    <!-- navabar product end  -->
  </div>

  </header>
  {{ end }}
  <!-- header-area end -->

  {{ block "main" . }}
  {{ end }}

  <!-- cta-area start  -->
  {{ block "cta-install" . }}
  <section class="cta-area">
    <div class="container">
      <div class="cta-area-inner">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-full-tablet is-half-tablet is-half-desktop">
              <h3 data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate">Get Up and Running Quickly
              </h3>
              <p>Deploy, manage, upgrade Kubernetes on any cloud and automate deployment, scaling, and management of
                containerized applications.</p>
            </div>
            <div
              class="column is-full-tablet is-half-tablet is-half-desktop has-text-centered-touch has-text-right-desktop">
              <div class="buttons is-justify-content-flex-end"><a href="https://appscode.com/contact/"
                  class="button ac-button ac-white"
                  style="background-color:#fff;border:1px solid #e7e7e7;color:#003466"><span>
                    <i class="fa fa-envelope-o mr-8"></i>
                  </span>CONTACT US</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- cta-area end -->
  <!-- is-show -->
  <div class="modal-backdrop"></div>
  <!-- footer area start  -->
  {{ block "footer" . }}
  <footer class="footer-area">
    <div class="footer-top">
      <div class="container">
        <div class="columns is-mobile is-multiline is-variable is-1-mobile">
          <div class="column is-full-mobile is-one-third-desktop is-one-third-widescreen is-one-third-tablet mb-15">
            <div class="single-footer-widget">
              <!-- logo start -->
              <div class="footer-logo">
                <a href="{{.Site.Params.domain_appscode}}"><img src="{{$.Site.Params.basePath}}{{$.Site.Data.products.appscode.logo.src}}"
                    alt="{{$.Site.Data.products.appscode.logo.alt}}" class="img" loading="lazy" decoding="async"/></a>
              </div>
              <!-- logo end -->

              <!-- subscription form start -->
              <div class="subscription-form">
                <form method="post" action="https://listmonk.appscode.com/subscription/form"
                  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank"
                  novalidate role="form">
                  <label for="email">Subscribe to Our Newsletter</label>
                  <p class="spam-message">No spam, we promise. Your mail address is secure</p>
                  <div class="field has-addons">
                    <div class="control">
                      <!-- AppsCode Monthly Newsletter -->
                      <input type="hidden" id="afbbc" name="l" value="afbbc974-e163-4467-be49-040e399520f3" />
                      <input class="input" name="email" id="mce-EMAIL" type="email"
                        placeholder="Your work email address" required />
                      <button id="mc-embedded-subscribe" type="submit" name="subscribe" aria-label="subscribe"
                        class="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- subscription form end -->

              <!-- contact information start -->
              <div class="contact-information">
                <h4>Have any Inquiry?</h4>
                <ul class="all-contact-info">
                  <li>
                    <a href="callto:{{.Site.Params.contact_phone}}"><span><i class="fa fa-phone"
                          aria-hidden="true"></i></span>{{.Site.Params.contact_phone}}</a>
                  </li>

                  <li>
                    <a href="mailto:{{.Site.Params.contact_email}}"><span><i class="fa fa-envelope-o"
                          aria-hidden="true"></i></span>{{.Site.Params.contact_email}}</a>
                  </li>
                </ul>
              </div>
              <!-- contact information end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-info">
                <h4>Products</h4>
                <ul class="footer-link">
                  {{ range $item := $.Site.Data.config.footerLinks }}
                  {{ $p := (index $.Site.Data.products $item) }}
                  <li><a href="{{index $.Site.Params $p.website.domainKey}}{{$p.website.path}}">{{$p.name}}</a></li>
                  {{ end }}
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-success">
                <h4>Services</h4>
                <ul class="footer-link">
                  <!-- <li><a href="{{.Site.Params.domain_appscode}}/pricing/">Pricing</a></li> -->
                  <li><a href="{{.Site.Params.domain_appscode}}/consulting/">Consulting</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/training/">Training</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/support/">Support</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-warning">
                <h4>Company</h4>
                <ul class="footer-link">
                  <li><a href="{{.Site.Params.domain_appscode}}/about/">About Us</a></li>
                  <li><a href="{{.Site.Params.blog_url}}">Blog</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/contact/">Contact Us</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-danger">
                <h4>Legal</h4>
                <ul class="footer-link">
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Service</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/security/">Security</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/sla/">Service Level Agreement</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 has-text-centered-mobile  has-text-left-tablet is-paddingless">
            <p>© {{ now.Format "2006" }} AppsCode Inc. All rights reserved.</p>
          </div>
          <div class="column is-4 is-mobile has-text-centered-touch has-text-centered-desktop is-paddingless">
            <div class="footer-inline-link">
              <a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a>
              <a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Service</a>
            </div>
          </div>
          <div class="column is-4 has-text-centered-mobile  has-text-right-tablet is-paddingless">
            <div class="socail-link-inline">
              <ul>
                <li>
                  <a href="{{.Site.Params.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/appscode"><i class="fa fa-linkedin"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="{{.Site.Params.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="{{.Site.Params.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {{ end }}
  <!-- footer area end -->

  <!-- go-to-top start  -->
  <button class="go-to-top" id="goTop" aria-label="got-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
  <!-- go-to-top end -->


  <!-- AOS js  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="{{.Site.Params.basePath}}assets/js/headroom.min.js"></script>
  <!--Search  -->
  <script src="{{.Site.Params.basePath}}assets/js/search.js"></script>
  <!-- Main JS -->
  <script src="{{.Site.Params.basePath}}assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  <noscript>
    <img src="https://ws.zoominfo.com/pixel/63344a0551510bcd6667d667" width="1" height="1" style="display: none;" alt="websights"/>
  </noscript>

  <!-- console beta button  -->
  <script>
    const acSignInButton = document.getElementById('ac-sign-in-button')

    // define Beta tag
    const betaSpan = document.createElement("span")
    betaSpan.innerText = "BETA"
    betaSpan.classList.add('tag')

    // function to get cookie
    function getCookie(cname) {
      let name = cname + "=";
      let ca = document.cookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    // function to fetch user
    async function fetchUser() {
      try {
        const hostname = window.location.hostname;
        const protocol = window.location.protocol;
        const port = window.location.port;

        const apiDomain = protocol + "//api." + hostname +  (port? ":3003" : "");
        const consoleDomain = protocol + "//console." + hostname +  (port? ":5990" : "");

        acSignInButton.classList.add('is-loading');

        const response = await fetch(apiDomain + "/api/v1/user", {
          method: "GET",
          credentials: "include",
          headers: {
            "X-Csrf-Token": getCookie("_csrf"),
            "X-Requested-With": "xmlhttprequest"
          }
        })

        if(response.status === 200) {
          // user is logged in
          // show console link
          acSignInButton.firstElementChild.innerHTML =  "CONSOLE"
          acSignInButton.href = consoleDomain
        }
      } catch(error) {
        console.log("Failed to fetch user", error)
      }
      // remove the loader
      acSignInButton.classList.remove('is-loading');
      // append beta tag
      acSignInButton.appendChild(betaSpan);
    }

    window.addEventListener('load', function() {
      jQuery('a:contains("KubeDB")').click(function() {
        gtag('event', 'conversion', {
          'send_to': 'AW-10933819571/j5J-CL2sweQDELOx090o'
        });
      })


      // fetch if user is logged in or not
      fetchUser();
    });
  </script>
  
</body>
</html>