
{{ $p := (index .Site.Data.products "bytebuilders") }}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7BHQZB');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R5J3WVDEFB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R5J3WVDEFB');
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#0071BD" />
  <title>{{ .Title }}</title>
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/products/bytebuilders/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/products/bytebuilders/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/products/bytebuilders/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/products/bytebuilders/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/products/bytebuilders/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/products/bytebuilders/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/products/bytebuilders/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/products/bytebuilders/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/products/bytebuilders/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
    href="/assets/images/products/bytebuilders/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/products/bytebuilders/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/products/bytebuilders/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/products/bytebuilders/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/products/bytebuilders/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/products/bytebuilders/icons/ms-icon-144x144.png">
  <!-- twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:creator" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
  <meta name="twitter:description" content="{{ $p.tagline | plainify }}">
  <!-- facebook -->
  {{ if .Resources.GetMatch "hero.jpg" }}
  {{ $original := .Resources.GetMatch "hero.jpg" }}
  {{ $cropped := $original.Fill "1300x650" }}
  <meta name="twitter:image:src" content="{{ $cropped.Permalink }}" />
  <meta property="og:image" content="{{ $cropped.Permalink }}" />
  {{ else }}
  <meta name="twitter:image:src"
    content="{{ $.Site.BaseURL }}assets/images/products/bytebuilders/bytebuilders-1280x640.png" />
  <meta property="og:image"
    content="{{ $.Site.BaseURL }}assets/images/products/bytebuilders/bytebuilders-1280x640.png" />
  {{ end }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ $p.tagline | plainify }}" />
  <meta property="og:site_name" content="{{ $p.fullname }}">
  <meta property="og:type" content="article">
  <!-- animate css  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <!-- font-awesome css  -->
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
  <!-- AOS css  -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- bulma css  -->
  <link rel="stylesheet" href="/assets/css/bulma.min.css" />
  <!-- owl carousel css -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />
  <!-- Custom CSS -->
  <!-- {{ with $style := resources.Get "/assets/sass/main.scss" | resources.ToCSS | resources.PostCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ end }} -->
  <link rel="stylesheet" href="/assets/sass/main.css" />
  <script src="https://tag.clearbitscripts.com/v1/pk_81079761ad5191fbdb09e9f13ff41927/tags.js"></script>
  <script>
    (function () {
      var zi = document.createElement('script');
      zi.type = 'text/javascript';
      zi.async = true;
      zi.referrerPolicy = 'unsafe-url';
      zi.src = 'https://ws.zoominfo.com/pixel/63344a0551510bcd6667d667';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(zi, s);
    })();
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7BHQZB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--[if lte IE 9]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser. Please
      <a href="https://browsehappy.com/">upgrade your browser</a> to improve
      your experience and security.
    </p>
  <![endif]-->
  <!-- header-area start -->
  {{ block "header" . }}
  <header>

    <!-- header--fixed -->
    <div class="navbar-area">
      <div class="navbar-appscode-wrapper">
        <div class="navbar-appscode container">

          <div class="navbar-left">
            <div class="navbar-brand">
              <a href="{{.Site.Params.domain_bytebuilders}}">
                <img src="{{ .Site.Data.products.bytebuilders.logo.src }}" alt="img" loading="lazy"
                  decoding="async" loading="lazy" decoding="async" />
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          </div>

          <div class="navbar-right">
            <div class="is-flex is-align-items-center is-justify-content-space-between is-fullwidth">
              <ul>
                <!-- <li class="nav-item">
                  <a href="{{.Site.Params.domain_marketplace}}" target="_blank" class="link">Marketplace</a>
                </li> -->
                <li class="nav-item">
                  <a href="{{.Site.Params.blog_url}}" target="_blank" class="link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="{{.Site.Params.domain_appscode}}/about/" target="_blank" class="link">About Us</a>
                </li>
                  <li class="nav-item">
                    <a href="{{.Site.Params.domain_appscode}}/contact/" target="_blank" class="link">Contact</a>
                  </li>
                <li class="nav-item">
                  <a href="https://appscode.com/webinar" target="_blank" class="link">Webinar <span
                      class="whats-new">New</span></a>
                </li>
              </ul>
              <div class="navbar-item pr-0">
                <div class="buttons">
                  <a href="{{.Site.Params.domain_accounts}}/user/login"
                    class="button ac-button is-primary is-uppercase">
                    Sign in
                  </a>
                  <a href="{{.Site.Params.domain_accounts}}/user/sign_up"
                    class="button ac-button is-secondary is-uppercase ml-0">
                    Sign up
                  </a>
                </div>
              </div>
              <!-- if webinar exist script  -->
              <script type="text/javascript">
                (function () {
                  var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
                  xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                      if (xhr.status === 200) {
                        var result = JSON.parse(xhr.responseText);
                        if (result.schedules) {
                          let endDate = new Date(result.schedules[0]).getTime();
                          let startDate = new Date().getTime();
                          let timeRemaining = parseInt((endDate - startDate) / 1000);
                          if (timeRemaining >= 0) {
                            document.querySelector('.whats-new').classList.add('is-block')
                          }
                        }
                      }
                    }
                  } //
                  // console.log('GET', 'https://x.appscode.com/_/webinars/');
                  xhr.open('GET', 'https://x.appscode.com/_/webinars/');
                  xhr.send();
                }());
              </script>
              <!-- navbar items start -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  {{ end }}
  <!-- header-area end -->

  {{ block "main" . }}
  {{ end }}

  <!-- cta-area start  -->
  {{ block "cta-install" . }}
  <section class="cta-area">
    <div class="container">
      <div class="cta-area-inner">
        <div class="container">
          <div class="columns is-vcentered is-multiline">
            <div class="column is-full-tablet is-half-tablet is-half-desktop">
              <h3 data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate">Get Up and Running Quickly
              </h3>
              <p>Deploy, manage, upgrade Kubernetes on any cloud and automate deployment, scaling, and management of
                containerized applications.</p>
            </div>
            <div
              class="column is-full-tablet is-half-tablet is-half-desktop has-text-centered-touch has-text-right-desktop">
              <div class="buttons is-justify-content-flex-end"><a href="https://appscode.com/contact/"
                  class="button ac-button ac-white"
                  style="background-color:#fff;border:1px solid #e7e7e7;color:#003466"><span>
                    <i class="fa fa-envelope-o mr-8"></i>
                  </span>CONTACT US</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
  <!-- cta-area end -->

  <!-- footer area start  -->
  {{ block "footer" . }}
  <footer class="footer-area">
    <div class="footer-top">
      <div class="container">
        <div class="columns is-mobile is-multiline is-variable is-1-mobile">
          <div class="column is-full-mobile is-one-third-desktop is-one-third-widescreen is-one-third-tablet mb-15">
            <div class="single-footer-widget">
              <!-- logo start -->
              <div class="footer-logo">
                <a href="{{.Site.Params.domain_appscode}}"><img src="{{$.Site.Data.products.appscode.logo.src}}"
                    alt="{{$.Site.Data.products.appscode.logo.alt}}" class="img" loading="lazy" decoding="async"/></a>
              </div>
              <!-- logo end -->

              <!-- subscription form start -->
              <div class="subscription-form">
                <form method="post" action="https://listmonk.appscode.com/subscription/form"
                  id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank"
                  novalidate role="email" role="email">
                  <label for="email">Subscribe to Our Newsletter</label>
                  <p class="spam-message">No spam, we promise. Your mail address is secure</p>
                  <div class="field has-addons">
                    <div class="control">
                      <!-- AppsCode Monthly Newsletter -->
                      <input type="hidden" id="afbbc" name="l" value="afbbc974-e163-4467-be49-040e399520f3" />
                      <input class="input" name="email" id="mce-EMAIL" type="email"
                        placeholder="Your work email address" required />
                      <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- subscription form end -->

              <!-- contact information start -->
              <div class="contact-information">
                <h4>Have any Inquiry?</h4>
                <ul class="all-contact-info">
                  <li>
                    <a href="callto:{{.Site.Params.contact_phone}}"><span><i class="fa fa-phone"
                          aria-hidden="true"></i></span>{{.Site.Params.contact_phone}}</a>
                  </li>

                  <li>
                    <a href="mailto:{{.Site.Params.contact_email}}"><span><i class="fa fa-envelope-o"
                          aria-hidden="true"></i></span>{{.Site.Params.contact_email}}</a>
                  </li>
                </ul>
              </div>
              <!-- contact information end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-info">
                <h4>Products</h4>
                <ul class="footer-link">
                  {{ range $item := $.Site.Data.config.footerLinks }}
                  {{ $p := (index $.Site.Data.products $item) }}
                  <li><a href="{{index $.Site.Params $p.website.domainKey}}{{$p.website.path}}">{{$p.name}}</a></li>
                  {{ end }}
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-success">
                <h4>Services</h4>
                <ul class="footer-link">
                  <!-- <li><a href="{{.Site.Params.domain_appscode}}/pricing/">Pricing</a></li> -->
                  <li><a href="{{.Site.Params.domain_appscode}}/consulting/">Consulting</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/training/">Training</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/support/">Support</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-warning">
                <h4>Company</h4>
                <ul class="footer-link">
                  <li><a href="{{.Site.Params.domain_appscode}}/about/">About Us</a></li>
                  <li><a href="{{.Site.Params.blog_url}}">Blog</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/contact/">Contact Us</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>

          <div class="column is-half-mobile">
            <div class="single-footer-widget">
              <!-- footer menu start -->
              <div class="footer-menu is-danger">
                <h4>Legal</h4>
                <ul class="footer-link">
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Sevice</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/security/">Security</a></li>
                  <li><a href="{{.Site.Params.domain_appscode}}/legal/sla/">Service Level Agreement</a></li>
                </ul>
              </div>
              <!-- footer menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 has-text-centered-mobile  has-text-left-tablet is-paddingless">
            <p>© {{ now.Format "2006" }} AppsCode Inc. All rights reserved.</p>
          </div>
          <div class="column is-4 is-mobile has-text-centered-touch has-text-centered-desktop is-paddingless">
            <div class="footer-inline-link">
              <a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a>
              <a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Service</a>
            </div>
          </div>
          <div class="column is-4 has-text-centered-mobile  has-text-right-tablet is-paddingless">
            <div class="socail-link-inline">
              <ul>
                <li>
                  <a href="{{.Site.Params.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/appscode"><i class="fa fa-linkedin"
                      aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="{{.Site.Params.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a href="{{.Site.Params.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {{ end }}
  <!-- footer area end -->

  <!-- go-to-top start  -->
  <button class="go-to-top" id="goTop">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
  <!-- go-to-top end -->


  <!-- AOS js  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- download js  -->
  <script src="https://unpkg.com/downloadjs@1.4.7/download.min.js"></script>
  <!-- clipboard js  -->
  <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>

  <!-- jquery  -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!--owl carousel  -->
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/headroom.min.js"></script>
  <!--Search  -->
  <script src="/assets/js/search.js"></script>
  <!-- Main JS -->
  <script src="/assets/js/main.js"></script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
      Tawk_LoadStart = new Date();
    (function () {
      var s1 = document.createElement("script"),
        s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
  <noscript>
    <img src="https://ws.zoominfo.com/pixel/63344a0551510bcd6667d667" width="1" height="1" style="display: none;" alt="websights"/>
  </noscript>
</body>
</html>