{{ define "main" }}

<!-- blog heading start  -->
<section class="blog-heading-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column has-text-centered">

        <!-- blog heading start  -->
        <div class="blog-heading">
          <p data-aos="fade-up" class="meta-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ .Date.Format "2-Jan-2006" }}</p>
          <h1 data-aos="fade-up" data-aos-duration="500">{{ .Title }}</h1>
          <p data-aos="fade-up" data-aos-duration="600" class="author"><span>by </span>
          {{ range $author := first 1 .Params.authors }}
            <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
          {{ end }}
          {{ range $author := after 1 .Params.authors }}
            <span>&amp;</span><a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
          {{ end }}
          </p>
        </div>
        <!-- blog heading end -->

        <!-- blog large image start -->
        <figure class="fig-style">
          {{ $original := .Resources.GetMatch "hero.jpg" }}
          {{ $cropped := $original.Fill "1300x650" }}
          <img data-aos="fade-up" data-aos-duration="600" src="{{ $cropped.RelPermalink }}" alt="">
          <!-- <figcaption>capture operational knowledge in a software form</figcaption> -->
          </a>
        </figure>
        <!-- blog large image end -->

      </div>
    </div>
  </div>
</section>
<!-- blog heading end -->

<!-- blog details area start  -->
<section class="blog-details-area">
  <div class="container section">
    <div class="columns">
      <div class="column is-2">
        <!-- sticky social menu start  -->
        <div class="sticky-social-menu">
          <div class="social-link-vertical">
            <ul>
              <li>
                <a title="Twitter" href="http://twitter.com/share?url={{ .Permalink }}&text={{ .Title | htmlEscape }}" class="twitter"
                  aria-label="share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title | htmlEscape }}&summary={{ .Summary | htmlEscape }}&source=LinkedIn"
                  class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li>
                <a title="Facebook" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" class="facebook"
                  aria-label="share on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="mailto:?subject={{ .Title | htmlEscape }}&body={{ .Permalink | htmlEscape }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!--sticky  social menu end -->
      </div>
      <div class="column is-8">
        <!-- blog-content start  -->
        <div class="blog-content">
          <!--
          <div class="bb-quote-msg">
            <div class="quote-icon"><img src="/assets/images/icons/quote.svg" alt="quote.svg"></div>
             <p> Make sure that you’re running a linux machine with kernel version 4.17 or higher. We’re attaching eBPF programs to raw_tracepoints, and this feature is available from linux kernel 4.17. For more information, you can see here.</p>
             <div class="name-descriptor">Tomas Albart, <span>Product designer at <a href="#" class="inline-button">AWS</a></span></div>
          </div>
          -->

          {{ .Content }}

          <div class="tags">
            {{ range $tag := .Params.tags }}
            <a href="/tags/{{ . }}" class="tag">{{ . }}</a>
            {{ end }}
          </div>
        </div>
        <!-- blog-content end -->
      </div>
    </div>
  </div>
</section>
<!-- blog details area end -->

<!-- blog comments area start -->
{{ if site.Params.comments.enable }}
  <section class="comments-area">
    <div class="container">
      {{ partial "comments.html" . }}
    </div>
  </section>
{{ end }}
<!-- blog comments area end -->

{{ end }}
