// cta area start
.cta-area {
  background-image: url(../images/bg-image/cta-bg.png);
  background-repeat: repeat;
  background-color: $primary-color;
  .section-title.is-dark-bg {
    h2 {
      font-size: 32px;
      font-weight: 700;
      color: $white-color;
      line-height: 42px;
    }
    p {
      color: darken($white-color, 20%);
      margin-bottom: 30px;
    }
  }
  .cta-buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 30px;
  }
  .right-sidebar {
    border-left: 2px solid #8e939a;
    .right-sidebar-inner {
      padding-left: 30px;
      .single-sidebar-item {
        margin-bottom: 30px;
        h5 {
          font-size: 16px;
          color: $white-color;
        }
        .inline-button {
          font-size: 14px;
          font-weight: 500;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background: $primary-color;
            border-radius: 50px;
            transition: 0.3s ease-in-out;
          }
        }
        &:hover .inline-button:after {
          width: 100%;
        }
      }
    }
  }
}
// cta area end

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/
/**************************************************************** 
                  Full HD Min Width 1407
**************************************************************** */
/* Full HD Min Width 1408px */
@media (min-width: 1408px) {
}

/**************************************************************** 
                  Widescreen Between 1216px and 1407px
**************************************************************** */
@media (min-width: 1216px) and (max-width: 1407px) {
}

/**************************************************************** 
                  Desktop Between 1024px and 1215px
**************************************************************** */
@media (min-width: 1024px) and (max-width: 1215px) {
}
/**************************************************************** 
                  Tablet Between 769px and 1023px
**************************************************************** */
@media (min-width: 769px) and (max-width: 1023px) {
  
}

/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .cta-area {
    .cta-buttons {
      .button{
          margin-right: 10px !important;
      }
    }
    .section-title {
      &.is-dark-bg{
        h2{
          font-size: 26px;
          line-height: 38px;
        }
      }
      }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
