#header {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;
  transition: 0.1s ease;
  .header-top {
    padding: 10px 15px;
  }
}
body.fixed-nav #header {
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 99;
  width: 100%;
  background: $white-color;
  box-shadow: 0px 3px 12px rgba(15, 61, 91, 0.08);
}

.customize-navbar {
  background-color: transparent;
  .navbar-brand {
    a.navbar-item {
      &:hover {
        &:after {
          height: 0px;
        }
        &::before {
          height: 0;
        }
      }
    }
  }
  a.navbar-item {
    font-size: 14px;
    color: #3a3a3a;
    font-weight: 600;
    position: relative;
    z-index: 1;
    font-family: $font-heading;
    transition: 0.3s ease-in-out;
    &:after,
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: -10px;
      width: 100%;
      height: 0;
      background: $primary-color;
      border-radius: 0px 0px 4px 4px;
      transition: 0.3s ease-in-out;
      z-index: -1;
    }
    &:before {
      opacity: 0.1;
      background: -moz-linear-gradient(
        top,
        rgba(0, 113, 189, 1) 0%,
        rgba(125, 185, 232, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 113, 189, 1) 0%,
        rgba(125, 185, 232, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 113, 189, 1) 0%,
        rgba(125, 185, 232, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0071bd', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    }
    &:hover {
      background-color: transparent;
      color: $primary-color;
      &:after {
        height: 4px;
      }
      &::before {
        height: 50px;
      }
    }
    img {
      max-height: 100%;
    }
  }
}
