{{ define "main" }} {{ $author := (index $.Site.Data.authors (.Title | urlize) )
}}

<!-- author hero area start  -->
<section class="author-hero-area">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="author-content has-text-centered" data-aos="fade-up" data-aos-duration="500">
          <figure class="image width-80">
            <img src="{{ $author.profile }}" loading="lazy" class="is-rounded" decoding="async" />
          </figure>
          <h4 class="has-text-white mb-8" data-aos="fade-up" data-aos-duration="600">{{ $author.name }}</h4>
          <p class="has-text-white mb-16" data-aos="fade-up" data-aos-duration="800">
            ( {{ $author.designation }} )
          </p>
          <p class="has-text-white mb-16" data-aos="fade-up" data-aos-duration="800">
            {{ $author.biography }}
          </p>
          <div class="social-share">
            <ul class="social-share-button">
              {{ if $author.twitter }}
              <li>
                <a href="{{ $author.twitter }}" target="_blank" rel="noopener" class="twitter"
                  aria-label="Follow on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              {{ end }} {{ if $author.github }}
              <li>
                <a href="{{ $author.github }}" target="_blank" rel="noopener" class="github"
                  aria-label="Follow on GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
              </li>
              {{ end }} {{ if $author.linkedin }}
              <li>
                <a href="{{ $author.linkedin }}" target="_blank" rel="noopener" class="linkedin"
                  aria-label="Connect on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              {{ end }} {{ if $author.facebook }}
              <li>
                <a href="{{ $author.facebook }}" target="_blank" rel="noopener" class="facebook"
                  aria-label="Follow on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              {{ end }} {{ if $author.email }}
              <li>
                <a href="mailto:{{ $author.email }}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- author hero area end -->

<!--============================== search and filter area start  ==============================-->
<div class="search-filter-area">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="filter-wrapper">
          <div class="search-area is-flex">
            <label class="width-20 is-flex mr-16" for="search">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd" />
              </svg>
            </label>
            <input id="search" type="search" name="search" placeholder="Search 'KubeDB', 'Stash', 'AWS'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--============================== search and filter area end  ==============================-->

<!-- all blog content start  -->
<div class="blog-items-area author-page">
  <div class="container">
    <div class="columns">
      <!-- left sidebar start  -->
      <div class="column is-3">
        <!-- left sidebar start  -->
        <div class="left-sidebar">
          <!-- collapsable menu start  -->
          <div class="collapsable-menu">
            <button id="product-btn">
              PRODUCTS <i class="fa fa-angle-up"></i>
            </button>
            <!-- single ac-checkbox start  -->
            <div class="checkbox-wrapper" id="products">
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="kubedb" type="checkbox" name="checkbox" />
                <label for="kubedb">KubeDB</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="stash" type="checkbox" name="checkbox" />
                <label for="stash">Stash</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="kubevault" type="checkbox" name="checkbox" />
                <label for="kubevault">KubeVault</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="kubeform" type="checkbox" name="checkbox" />
                <label for="kubeform">Kubeform</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="voyager" type="checkbox" name="checkbox" />
                <label for="voyager">Voyager</label>
              </div>
              <!-- single ac-checkbox end -->
            </div>
          </div>
          <!-- collapsable menu end -->

          <!-- collapsable menu start  -->
          <div class="collapsable-menu">
            <button id="categories-btn">CATEGORIES <i class="fa fa-angle-up"></i></button>
            <div class="checkbox-wrapper" id="categories">
              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="alert" type="checkbox" name="checkbox" />
                <label for="alert">Alert</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="auto-scalling" type="checkbox" name="checkbox" />
                <label for="auto-scalling">Auto-scalling</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="appscode" type="checkbox" name="checkbox" />
                <label for="appscode">AppsCode</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="aws" type="checkbox" name="checkbox" />
                <label for="aws">AWS</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="backup" type="checkbox" name="checkbox" />
                <label for="backup">Backup</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="crd" type="checkbox" name="checkbox" />
                <label for="crd">Crd</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="database" type="checkbox" name="checkbox" />
                <label for="database">Database</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="docs" type="checkbox" name="checkbox" />
                <label for="docs">Docs</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="hook" type="checkbox" name="checkbox" />
                <label for="hook">Hook</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="jwt" type="checkbox" name="checkbox" />
                <label for="jwt">Jwt</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="nats" type="checkbox" name="checkbox" />
                <label for="nats">Nats</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="kubernetes" type="checkbox" name="checkbox" />
                <label for="kubernetes">Kubernetes</label>
              </div>
              <!-- single ac-checkbox end -->

              <!-- single ac-checkbox start  -->
              <div class="ac-single-checkbox">
                <input class="is-checkradio ac-checkbox" id="gcs" type="checkbox" name="checkbox" />
                <label for="gcs">GCS</label>
              </div>
              <!-- single ac-checkbox end -->
            </div>
          </div>
          <!-- collapsable menu end -->
        </div>
        <!-- left sidebar end -->
      </div>
      <!-- left sidebar end -->
      <div class="column is-9">
        <div class="blog-items">
          <!-- grid view start -->
          <div class="columns is-multiline" id="grid-view">
            {{ range $idx, $p := .RegularPages.ByDate.Reverse }}
            <div class="column is-4 each-blog">
               <a href="{{ $p.RelPermalink }}" class="single-blog-card">
                <div class="is-flex"> {{ range $author := $p.Params.authors }}
                  <div class="user-info">

                    <img src="/assets/images/authors/profile-photos-28x28/{{ $author | urlize}}.jpg" alt="author"
                      width="20" height="20" loading="lazy" decoding="async">
                    <p class="mr-12 author"> {{ $author }}</p>

                  </div>
                  {{end}}</div>
                 <h2 class="is-ellipsis-2" title="">{{ $p.Title }}</h2>

                 <div class="tags is-hidden">
                   {{ range $tag := .Params.tags }}

                   <span href="#" class="tag">{{.}}</span>
                   {{ end }}

                 </div>

                 <div class="card-bottom is-flex is-justify-content-space-between">
                   <div class="date-meta">{{ $p.Date.Format "2-Jan-2006" }}</div>

                   <div class="arrow-icon width-15">
                     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                       <path fill-rule="evenodd"
                         d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                         clip-rule="evenodd"></path>
                     </svg>

                   </div>
                 </div>
               </a>
            </div>
            {{ end }}
          </div>
          <!--Image From No Data-->
          <div>
            <p id="nodata-content" class="is-hidden">No data found</p>
          </div>
          <!-- grid view end  -->

          <!-- list view start  -->
          <div class="columns is-vcentered is-multiline is-hidden" id="list-view">
            {{ range $idx, $p := .RegularPages.ByDate.Reverse }}
            <div class="columns each-blog">
              <div class="column is-6">
                <figure class="blog-banner image">
                  {{ $original := $p.Resources.GetMatch "hero.jpg" }}
                  {{ $cropped := $original.Resize "x250" }}
                  <a href="{{ $p.RelPermalink }}">
                    <img src="{{ $cropped.RelPermalink }}" alt="appscode-blog" loading="lazy" decoding="async"></a>
                </figure>

              </div>
              <div class="column is-6">
                <div class="blog-title-content">
                  <!-- meta description  -->
                  <div class="meta">
                    <div class="tags is-hidden">
                      {{ range $tag := .Params.tags }}
                      <a href="#" class="tag">{{ . }}</a>
                      {{ end }}
                    </div>
                    <div class="author">By
                      {{ range $author := first 1 $p.Params.authors }}
                      <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
                      {{end}}

                      {{ range $author := after 1 $p.Params.authors }}
                      <span>&amp;</span><a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
                      {{ end }}
                    </div>

                    <!-- date  -->
                    <div class="date"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <strong>
                        {{ $p.Date.Format "2-Jan-2006" }}</strong>
                    </div>
                    <!-- date  -->
                  </div>
                  <!-- meta description  -->
                  <!-- title  -->
                  <h2 class="is-ellipsis-2" title="{{ $p.Title }}"><a href="{{ $p.RelPermalink }}">{{ $p.Title }}</a>
                  </h2>
                  <!-- title  -->



                  <!-- summary  -->
                  <p class="is-ellipsis-2">{{ $p.Summary }}</p>

                  <a class="inline-button" href="{{ $p.RelPermalink }}">READ MORE <i class="fa fa-arrow-right"></i></a>
                  <!-- summary  -->
                </div>
              </div>
            </div>
            {{ end }}
          </div>
          <!-- list view end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- all blog content end -->

{{ end }}