// Define Font Family
$font-heading: "Raleway", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-link: "Roboto", sans-serif;

// Define Font Size
$font-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define Colour
$primary-color: #0071bd;
$heading-color: #2a2a2a;
$paragraph-color: #4a4a4a;
$list-color: #4a4a4a;
$border-color: #e8e8e8;
$border-dark-color: #bcbec0;
$header-bg-color: #f1f1f1;

// Define Basic Colour
$blue-color: #4d4dcb;
$orange-color: #f99a00;
$red-color: #b80c34;
$white-color: #ffffff;
