.author-hero-area {
  padding: 100px 0 40px;
}

.author-content {
  .image {
    width: 165px;
    height: 165px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  p {
    font-size: 16px;
  }

  .image,
  h3,
  p {
    margin-bottom: 15px;
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 768px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
}

// Extra large devices (large desktops, 1216px and up)
@media (min-width: 1216px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .author-hero-area {
    padding: 100px 0 20px;
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
