.author-hero-area {
  background-image: url(/assets/images/bg-image/hero-bg.png);
  margin-top: -74px;
  padding: 140px 0 70px;
}

.author-content {
  figure {
    margin: 0 auto 15px;

    &.image {
      img {
        border: 2px solid $ac-white-light;
      }
    }
  }
}

.author-page {
  .blog-items {
    margin-top: 16px;
  }

  .single-blog-card {
    border: 1px solid $ac-white-light;
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 768px) {
  .author-page {
    .single-blog-card {
      min-height: auto;
      padding: 24px 16px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .author-page {
    .single-blog-card {
      min-height: auto;
      padding: 24px 16px;
    }
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
  .author-page {
    .single-blog-card {
      min-height: auto;
      padding: 24px 16px;
    }
  }
}

// Extra large devices (large desktops, 1216px and up)
@media (min-width: 1216px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .author-hero-area {
    padding: 100px 0 20px;
  }

  .author-page {
    .single-blog-card {
      min-height: 170px;
      padding: 24px 16px;
    }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
