.blog-heading-area {
  &.section-padding {
    padding-top: 160px;
  }
}
.blog-details-area {
  padding-bottom: 100px;
}
.blog-heading {
  h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
.blog-heading {
  max-width: 70%;
  margin: 0 auto;
}
.fig-style {
  max-height: 650px;
  overflow: hidden;
  img {
    user-select: none;
    display: block;
    border-radius: 8px;
  }
  figcaption {
    max-width: 80%;
    margin: 0 auto;
    color: $ac-color-text;
    opacity: 0.8;
    padding: 10px 0;
    border-bottom: 1px solid $ac-white-light;
  }
}
//sticky social link
.sticky-social-menu {
  position: sticky;
  top: 130px;
}
//code block style
.code-block-heading {
  display: flex;
  justify-content: space-between;
  background: #f0f3f6;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  border: 1px solid #d1d5d9;
  border-bottom: transparent;
  .code-title {
    h4 {
      font-size: 16px;
      font-family: $ac-color-text;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
  .copy-and-download {
    .download-here,
    .copy-here {
      background: transparent;
      border: none;
      color: #9aa2ad;
      font-size: 20px;
      cursor: copy;
    }
    .download-here {
      cursor: pointer;
    }
  }
}
.highlight {
  pre {
    background-color: #1c2c41 !important;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
    border-radius: 0 0 4px 4px !important;
    code {
      color: #f1f1f1;
    }
  }
  margin-bottom: 40px;
}
.blog-content {
  h1,
  h2,
  h3 {
    font-weight: 700;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-size: 26px;
    line-height: 36px;
  }
  h4 {
    font-size: 22px;
    line-height: 32px;
  }
  p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    a {
      font-weight: 500;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: $ac-primary;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
    img {
      border: 1px solid $ac-white-light;
      padding: 15px;
      border-radius: 8px;
    }
  }
  pre {
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #1c2c41;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
  }
  figure {
    border: 1px solid $ac-white-light;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  .inline-button {
    font-size: 16px;
  }
  ul {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      font-size: 16px;
      list-style: disc;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      code {
        border-radius: 2px;
      }
      pre {
        font-size: 14px;
        margin-left: -20px;
      }
    }
  }
  ol {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      font-size: 16px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      code {
        border-radius: 2px;
      }
    }
  }
  ol {
    padding-left: 20px;
    margin-bottom: 30px;
    li {
      font-size: 16px;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      code {
        border-radius: 2px;
      }
    }
  }
  blockquote {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    opacity: 0.9;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: $ac-primary;
      border-radius: 2px;
    }
  }
  .bb-quote-msg {
    position: relative;
    z-index: 1;
    p {
      font-weight: 500;
      margin-bottom: 15px;
      color: #1c2c41;
    }
    .quote-icon {
      position: absolute;
      left: -50px;
      top: 10px;
    }
    .name-descriptor {
      font-size: 16px;
      margin-bottom: 20px;
      &::before {
        content: url(/assets/images/icons/line.svg);
        position: absolute;
        left: -60px;
      }
      span {
        font-size: 16px;
      }
    }
  }

  .tags {
    .tag {
      height: 36px;
      font-size: 14px;
      padding: 5px 20px;
    }
  }
  .tab-content {
    h2 {
      margin-top: 0;
      font-size: 28px;
      line-height: 40px;
    }
  }
  table {
    margin-bottom: 20px;
    td,
    th {
      border: 1px solid $ac-white-light;
      padding: 10px 20px;
    }
    th {
      font-weight: 500;
    }
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/
/**************************************************************** 
                  Full HD Min Width 1407
**************************************************************** */
/* Full HD Min Width 1408px */
@media (min-width: 1408px) {
}

/**************************************************************** 
                  Widescreen Between 1216px and 1407px
**************************************************************** */
@media (min-width: 1216px) and (max-width: 1407px) {
}

/**************************************************************** 
                  Desktop Between 1024px and 1215px
**************************************************************** */
@media (min-width: 1024px) and (max-width: 1215px) {
}
/**************************************************************** 
                  Tablet Between 769px and 1023px
**************************************************************** */
@media (min-width: 769px) and (max-width: 1023px) {
  .blog-content {
    p,
    a,
    ul li {
      font-size: 16px;
    }
    p {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    .highlight {
      margin-bottom: 0;
      overflow: hidden;
    }
  }
}

/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .blog-heading-area {
    padding-top: 160px;
    .blog-heading {
      h1 {
        font-size: 30px;
        line-height: 46px;
      }
    }
    .blog-heading {
      max-width: 95%;
    }
  }

  .blog-details-area {
    .social-link-vertical {
      ul {
        li {
          display: inline-block;
          margin-bottom: 0;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .blog-content {
    p,
    a,
    ul li {
      font-size: 16px;
    }
    p {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .highlight {
      margin-bottom: 0;
      overflow: hidden;
    }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
