// blog page 2022
.hero-area-blog {
  padding: 170px 0 100px;
  margin-top: -74px;
  background-image: url(/blog/assets/images/bg-image/hero-bg.png);
  background-repeat: no-repeat;
  min-height: 62vh;
  display: flex;
  align-items: center;

  &.author-page {
    min-height: auto;

    .blog-title-content {
      &:hover {
        h1 {
          text-decoration: none;
        }
      }
    }
  }

  &.blog-details-page {
    padding: 120px 0 30px;
  }

  .blog-title-content {
    &:hover {
      h1 {
        text-decoration: underline;
      }
    }

    h1 {
      line-height: 130%;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      margin-bottom: 20px;
      letter-spacing: 0;
      color: #f1f2f3;
      font-family: "Roboto Mono", monospace;

      a {
        color: $ac-white;
        font-family: "Roboto Mono", monospace;
      }
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: #dbdbdb;
      margin-bottom: 40px;
      width: 95%;
    }

    .button.ac-button {
      font-size: 13px;
      height: 48px;
      font-family: "Roboto Mono", monospace;

      &:hover {
        border: 1px solid $ac-white-light;
      }
    }
  }

  .author {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &:has(.author:nth-child(2)) {
    .information {
      a.author-name {
        font-size: 14px;
      }

      .designation {
        font-size: 11px;
      }
    }
  }
}

// section title small start
.section-title-small {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;

  .icon-square {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    display: block;
  }
}

// section title small end
.recent-blog-posts {
  background-color: #f2f5f7;
  padding: 60px 0 70px;

  .button.is-mini {
    border: 1px solid $ac-white-light !important;
    transition: 0.3s ease-in-out;
    color: $ac-color-heading;

    &:hover {
      border: $ac-primary;
      color: $ac-white;
    }
  }
}

.author {
  display: flex;

  .author-image {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    border: 2px solid #fafbfc;
    overflow: hidden;
  }

  .information {
    color: #ffffff;

    a.author-name {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 4px;
    }

    .designation {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      color: #dddddd;
      margin-bottom: 8px;
    }

    a.company {
      font-family: "Roboto Mono";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 160%;
      color: #ffffff;
    }
  }
}

a.inline-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 1.25px;
  color: #1c1c1c;
  position: relative;
  z-index: 1;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: $ac-color-heading;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  i.fa {
    padding-left: 0.5rem;
  }
}

// single blog card start
.single-blog-card {
  background-color: #fff;
  display: block;
  min-height: 185px;
  padding: 32px 16px;
  transition: 0.3s ease-in-out;
  border: 1px solid $ac-white-light;

  &.list-view {
    height: auto;
    padding: 0;
    box-shadow: none;
    border: 1px solid transparent;
    border-bottom: 1px dotted $ac-white-light;
    padding: 16px 0;

    &:hover {
      // border: 1px solid transparent;
      box-shadow: none;

      h2 {
        text-decoration: underline;
      }
    }

    .arrow-icon {
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }

    h2 {
      margin-bottom: 8px;
      font-size: 18px;
      transition: 0.3s ease-in-out;
    }

    p {
      margin-bottom: 16px;
      color: $ac-color-text;
    }
  }

  &:hover {
    box-shadow: 0px 2px 30px rgba(44, 60, 74, 0.08);
    // border: 1px solid $ac-primary;

    .arrow-icon {
      opacity: 1;
      visibility: visible;
    }

    h2 {
      color: $ac-primary;
    }
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1c1c1c;
    margin-bottom: 16px;
    letter-spacing: 0;
    transition: 0.3s ease-in-out;
  }

  .card-bottom {
    color: #666666;

    .arrow-icon {
      .w-5 {
        path {
        }
      }
    }
  }
}

.date-meta {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.user-info {
  display: flex;
  margin-bottom: 8px;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
  }

  p.author {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 0;

    color: $ac-color-text;
  }
}

// single blog card end

// ================================================================================================
.meta {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  i.fa {
    color: #555555;
    margin-right: 0.3rem;
  }

  .author {
    margin-right: 30px;

    a {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $ac-primary;
      letter-spacing: 0;
    }
  }

  .date {
    strong {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;

      color: $ac-color-text;
    }
  }
}

ul.social-share-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.is-flex-direction-column {
    align-items: flex-start;

    li {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      width: 46px;
      height: 46px;
      background: #1da1f2;
      color: $ac-white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        i.fa {
          animation: icon-animation 0.9s both;
        }
      }

      &.twitter {
        background-color: #1da1f2;
      }

      &.github {
        background-color: #171516;
      }

      &.linkedin {
        background-color: #0a66c2;
      }

      &.facebook {
        background-color: #4867aa;
      }

      &.envelope {
        background-color: #4285f4;
      }

      i.fa {
        font-size: 1rem;
      }
    }
  }
}

.search-filter-area {
  z-index: 99;
  background: #fff;
  box-shadow: 0 1px 3px rgba(15, 20, 40, 0.08);
  border-bottom: 1px solid $ac-white-light;
  border-top: 1px solid $ac-white-light;
  height: 64px;
  position: sticky;
  top: 0;
  overflow: hidden;

  .filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-area {
    width: 100%;

    .fa {
      font-size: 22px;
      margin-right: 1rem;
    }

    input {
      border: none;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      padding-right: 1rem;
      color: $ac-color-heading;
      padding: 22px 0;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;

        /* place-holder-color */

        color: #999999;
      }
    }
  }

  .filter-area {
    display: flex;

    select {
      width: 100px;
      border: none;
      background: transparent;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 1.25px;
      color: #1c1c1c;
      text-transform: uppercase;
    }

    .viewing-mode {
      display: flex;
      align-items: center;

      label {
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 1.25px;
        margin-left: 3rem;
        margin-right: 1rem;
      }

      button {
        width: 40px;
        height: 40px;
        border: none;
        background: #e5ebf0;
        border-radius: 2px;
        font-size: 1rem;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
          font-size: 20px;
          display: flex;
          align-items: center;
        }

        &:last-child {
          margin-right: 0;
        }

        &.is-active {
          background-color: $ac-primary;
          color: $ac-white;

          svg {
            fill: $ac-white;
          }
        }
      }
    }
  }
}

.blog-items-area {
  .left-sidebar {
    margin-right: 70px;
    padding-top: 16px;
    position: sticky;
    top: 64px;
    overflow-y: auto;
    padding-right: 30px;
    border-right: 1px solid $ac-white-light;
    height: calc(100vh - 0px);

    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    .collapsable-menu {
      margin-bottom: 30px;

      button {
        border: none;
        background-color: transparent;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: #3e393e;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        cursor: pointer;
        padding: 0;
      }

      .ac-single-checkbox {
        margin-bottom: 10px;

        label {
          font-weight: 400;
          font-size: 14px;
          line-height: 100%;
          color: #3e393e;
          padding-left: 10px;
          user-select: none;
          cursor: pointer;
        }

        input {
          accent-color: $ac-primary;
        }
      }
    }
  }
}

.single-blog {
  border: 1px solid $ac-white-light;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  min-height: 400px;
  overflow: hidden;

  .image {
    img {
      height: 160px;
    }
  }

  &:hover {
    border: 1px solid $ac-primary;

    a {
      img {
        transform: scale(1.05);
      }
    }

    h2 {
      a {
        color: $ac-primary;
      }
    }

    a.inline-button {
      &:after {
        width: 100%;
      }
    }
  }

  a {
    img {
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      transition: 0.3s ease-in-out;
    }
  }

  .meta {
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;

    .author {
      a {
        font-size: 14px;
      }
    }

    .date {
      strong {
        font-size: 14px;
      }
    }
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;

    a {
      color: $ac-color-heading;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 15px;
  }
}

.blog-items {
  .blog-title-content {
    &:hover {
      h2 {
        a {
          color: $ac-primary;
        }
      }

      a.inline-button {
        &:after {
          width: 100%;
        }
      }
    }

    .meta {
      margin-bottom: 10px;
    }

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.5px;
      margin-bottom: 15px;

      a {
        color: $ac-color-heading;
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}

// blog page 2022

//blog body start
.blog-left-sidebar {
  position: sticky;
  top: 120px;
  padding-left: 10px;
}

.blog-category {
  height: calc(100vh - 150px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-moz-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-ms-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-webkit-scrollbar:hover {
    width: 0px;
  }

  &::-moz-scrollbar:hover {
    width: 0px;
  }

  &::-ms-scrollbar:hover {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-moz-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-ms-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &::-moz-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &::-ms-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &:hover::-webkit-scrollbar-corner {
    height: 40px;
  }

  &:hover::-moz-scrollbar-corner {
    height: 40px;
  }

  &:hover::-ms-scrollbar-corner {
    height: 40px;
  }

  ul {
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        color: #74818d;
        display: block;
        padding: 10px;

        &:hover,
        &.is-active {
          color: $ac-primary;
        }
      }
    }
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/

@media (max-width: 480px) {
  .authors {
    flex-direction: row !important;

    &:has(.author:nth-child(2)) {
      .author {
        flex-direction: column !important;
        margin-left: 20px !important;
        margin-bottom: 0 !important;

        a {
          margin-bottom: 8px;
        }

        p.designation {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 768px)
@media (max-width: 768px) {
  .hero-area-blog {
    padding: 100px 0 50px;
    margin-top: -64px !important;

    .single-blog-carousel {
      .blog-title-content {
        padding-left: 0;

        h1 {
          font-size: 28px;
        }

        .social-share {
          margin-top: 20px;
        }
      }
    }
  }

  .section-title-small {
    letter-spacing: 0;

    .icon-square {
      display: none;
    }
  }

  .recent-blog-posts {
    padding: 30px 0;
  }

  .search-filter-area {
    top: 0;
  }

  .blog-items-area {
    .left-sidebar {
      height: auto;
      margin-right: 0;
      border-right: none;
      padding-right: 15px;
      border-bottom: 1px solid $ac-white-light;

      .collapsable-menu {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px) {
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .hero-area-blog {
    padding: 120px 0 60px;

    .blog-title-content {
      h1 {
        font-size: 24px;
        margin-bottom: 5px;
      }

      .meta {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 10px;
      }

      .social-share {
        margin-top: 20px;

        label {
          margin-bottom: 10px;
        }
      }
    }

    .authors {
      flex-direction: row !important;

      &:has(.author:nth-child(2)) {
        .author {
          flex-direction: column !important;
          margin-left: 20px !important;
          margin-bottom: 0 !important;

          a {
            margin-bottom: 8px;
          }

          p.designation {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .single-blog-card {
    padding: 12px 16px;
  }

  .blog-items-area {
    .left-sidebar {
      top: 60px;
      margin-right: 0;
    }
  }

  .single-blog {
    min-height: 360px;

    .image {
      img {
        max-height: 145px;
      }
    }

    .meta {
      margin-bottom: 10px;

      i.fa {
        font-size: 13px;
        margin-right: 0.2rem;
      }

      .author {
        margin-right: 2px;

        a {
          font-size: 13px;
        }
      }

      .date {
        strong {
          font-size: 13px;
        }
      }

      a.inline-button {
        font-size: 12px;
      }
    }

    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: 850px) and (max-width: 1023px) {
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1407px) {
  .hero-area-blog {
    padding: 120px 0 60px;

    .blog-title-content {
      h1 {
        font-size: 24px;
        margin-bottom: 8px;
      }

      .meta {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 24px;
      }

      // .social-share {
      //   margin-top: 20px;

      //   label {
      //     margin-bottom: 10px;
      //   }
      // }
    }

    .authors {
      flex-direction: row !important;

      &:has(.author:nth-child(2)) {
        .author {
          flex-direction: column !important;
          margin-left: 20px !important;
          margin-bottom: 0 !important;

          a {
            margin-bottom: 8px;
          }

          p.designation {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .search-filter-area {
    top: 0;
  }

  .blog-items-area {
    .left-sidebar {
      top: 62px;
    }
  }

  .single-blog {
    min-height: 360px;

    .image {
      img {
        max-height: 145px;
      }
    }

    .meta {
      margin-bottom: 10px;

      i.fa {
        font-size: 13px;
        margin-right: 0.2rem;
      }

      .author {
        margin-right: 2px;

        a {
          font-size: 13px;
        }
      }

      .date {
        strong {
          font-size: 13px;
        }
      }

      a.inline-button {
        font-size: 12px;
      }
    }

    h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .blog-items {
    .blog-title-content {
      h2 {
        font-size: 18px;
        letter-spacing: -0.2px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .meta {
        margin-bottom: 10px;

        i.fa {
          font-size: 13px;
          margin-right: 0.2rem;
        }

        .author {
          margin-right: 15px;

          a {
            font-size: 13px;
          }
        }

        .date {
          strong {
            font-size: 13px;
          }
        }

        a.inline-button {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1216px and up)
@media (min-width: 1216px) {
}

@media (min-width: 1408px) and (max-width: 1600px) {
  .hero-area-blog {
    padding: 150px 0 80px;

    .blog-title-content {
      h1 {
        font-size: 32px;
        letter-spacing: 0.3px;
      }

      p {
        margin-bottom: 24px;
        font-size: 18px;
      }

      .social-share {
        margin-top: 20px;
      }
    }
  }

  .meta {
    margin-bottom: 10px;

    .author {
      margin-right: 4px;
    }
  }

  .single-blog-card {
    padding: 16px;
  }

  .recent-blog-posts {
    .single-blog-card {
      min-height: 155px;
    }
  }

  .search-filter-area {
    .filter-wrapper {
      padding: 0px 12px;

      .search-area {
        .fa {
          font-size: 18px;
          margin-right: 0.75rem;
        }
      }
    }

    .filter-area {
      .viewing-mode {
        button {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .single-blog {
    min-height: 367px;
  }

  .blog-items-area {
    .left-sidebar {
      .collapsable-menu {
        .ac-single-checkbox {
          margin-bottom: 6px;

          label {
            font-size: 14px;
          }
        }
      }
    }
  }

  .blog-items {
    .blog-title-content {
      h2 {
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 2000px) {
  .hero-area-blog {
    background-image: url(/blog/assets/images/bg-image/hero-bg-2x.png);
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
