//blog hero area start
.blog-hero-area {
  .blog-slider-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .social-media-share {
      border: 10px solid $primary-color;
      width: 240px;
      padding: 30px;
      text-align: right;
      position: absolute;
      top: 50%;
      margin-top: -170px;
      right: 0;
      z-index: 9;
    }
    .blog-slider-inner {
      overflow: hidden;
      position: relative;
      z-index: 1;
      .slider-button {
        position: absolute;
        right: 42.35%;
        bottom: 0px;
        z-index: 2;
        .slide {
          background: #fff;
          border: 1px solid transparent;
          width: 88px;
          height: 80px;
          font-size: 30px;
          cursor: pointer;
          display: block;
          img {
            animation: arrowAnimate 2s infinite;
          }
          &:hover {
            img {
              animation-play-state: paused;
            }
          }
        }
      }
      .single-blog {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        display: none;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &.show {
          opacity: 1;
          visibility: visible;
          display: block;
        }
        .blog-content-wrapper {
          .blog-content-inner {
            padding-right: 50px;
            .meta-date{
              margin-bottom: 10px;
            }
            h1 {
              display: block;
              font-size: 48px;
              line-height: 60px;
              margin-bottom: 10px;
            }
            .description {
              line-height: 26px;
              margin-bottom: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 6;
              -webkit-line-clamp: 6;
              box-orient: vertical;
              -webkit-box-orient: vertical;
            }
          }
        }
        .blog-slider-image {
          max-width: 82%;
          height: 620px;
          background-size: cover;
          background-position: center;
          display: block;
          user-select: none;
          overflow: hidden;
          background-color: #333;
        }
      }
    }
  }
}
.blog-bg-1 {
  background-image: url(/assets/images/slider-image/s-1.jpg);
}
.blog-bg-2 {
  background-image: url(/assets/images/slider-image/s-2.jpg);
}
.blog-bg-3 {
  background-image: url(/assets/images/slider-image/s-3.jpg);
}

//blog body start
.blog-left-sidebar {
  position: sticky;
  top: 120px;
}
// search-bar start
.search-bar {
  position: relative;
  z-index: 1;

  input[type="search"] {
    background-color: #eaebf5;
    border: transparent;
    font-size: 15px;
    height: 60px;
    width: 100%;
    padding: 10px 50px 10px 30px;
    border-radius: 4px;
    overflow: hidden;
    font-weight: 500;

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  button {
    position: absolute;
    right: 0;
    height: 100%;
    border: transparent;
    background: transparent;
    padding: 10px 20px;
    color: $primary-color;
    font-size: 28px;
    line-height: 1;
    cursor: pointer;
  }
}
// category start
.blog-category {
  ul {
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        color: #74818d;
        display: block;
        padding: 10px;

        &:hover,
        &.is-active {
          color: $primary-color;
        }
      }
    }
  }
}

// single blog start
.single-blog-item {
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 8px 56px rgba(15, 80, 100, 0.16);

    .blog-image {
      transform: scale(1.3);
    }

    .blog-description {
      h2 {
        a {
          color: $primary-color !important;
        }
      }
    }
  }

  .blog-image-wrapper {
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    .blog-image {
      background-size: cover;
      background-position: center;
      background-color: #ddd;
      background-repeat: no-repeat;
      height: 234px;
      display: block;
    }
  }

  //blog image start
  .blog-1 {
    background-image: url(/assets/images/blog-image/1.jpg);
  }

  .blog-2 {
    background-image: url(/assets/images/blog-image/2.jpg);
  }

  .blog-3 {
    background-image: url(/assets/images/blog-image/3.jpg);
  }

  .blog-4 {
    background-image: url(/assets/images/blog-image/4.jpg);
  }

  .blog-5 {
    background-image: url(/assets/images/blog-image/5.jpg);
  }

  .blog-6 {
    background-image: url(/assets/images/blog-image/6.jpg);
  }

  .blog-7 {
    background-image: url(/assets/images/blog-image/7.jpg);
  }

  .blog-8 {
    background-image: url(/assets/images/blog-image/8.jpg);
  }

  .blog-9 {
    background-image: url(/assets/images/blog-image/9.jpg);
  }

  .single-blog-content {
    padding: 20px 10px;
    border: 1px solid #eaebf5;
    border-radius: 0 0 4px 4px;
    border-top: transparent;

    .blog-meta {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;

      .meta-date {
        i {
          color: $primary-color;
          padding-right: 5px;
        }
      }

      .meta-author {
        a {
          font-weight: 500;

          span {
            color: $paragraph-color;
            font-weight: 400;
          }
        }
      }
    }

    .blog-description {
      overflow: hidden;

      h2 {
        a {
          font-size: 20px;
          line-height: 32px;
          font-weight: 700;
          display: block;
          margin-bottom: 10px;
          color: $heading-color;
        }
      }

      p {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        box-orient: vertical;
        -webkit-box-orient: vertical;
      }

      .inline-button {
        float: right;
      }
    }
  }
}


/*=================================================================================================
                                    Responsive code start
=================================================================================================*/
/**************************************************************** 
                  Full HD Min Width 1407
**************************************************************** */
/* Full HD Min Width 1408px */
@media (min-width: 1408px) {
}

/**************************************************************** 
                  Widescreen Between 1216px and 1407px
**************************************************************** */
@media (min-width: 1216px) and (max-width: 1407px) {
}

/**************************************************************** 
                  Desktop Between 1024px and 1215px
**************************************************************** */
@media (min-width: 1024px) and (max-width: 1215px) {
  .blog-hero-area{
    .blog-slider-wrapper {
      .social-media-share{
        padding: 30px 15px;
      }
    }
  }
}

/**************************************************************** 
                  Tablet Between 769px and 1023px
**************************************************************** */
@media (min-width: 769px) and (max-width: 1023px) {
  .blog-hero-area {
    &.section-padding{
      padding-top: 100px;
      padding-bottom: 0;
    }
    .blog-slider-wrapper {
      .blog-slider-inner {
        .single-blog {
          .blog-content-wrapper {
            .blog-content-inner {
              padding-right: 50px;
              h1 {
                font-size: 36px;
                line-height: 50px;
              }
            }
          }
        }
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share{
        border: none;
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share{
        width: auto;
        padding: 0;
      }
    }
  }
  .search-bar {
    input[type="search"]{
      height: 50px;
    }
    button{
      font-size: 18px;
    }
  }
}

/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .blog-hero-area {
    &.section-padding{
      padding-top: 100px;
      padding-bottom: 0;
    }
    .blog-slider-wrapper {
      .blog-slider-inner {
        .slider-button{
          right: 0;
        }
        .single-blog {
          .blog-content-wrapper {
            .blog-content-inner {
              padding-right: 80px;
              h1 {
                font-size: 30px;
                line-height: 48px;
              }
            }
          }
          .blog-slider-image{
            max-width: 100%;
            height: 270px;
          }
        }
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share{
        border: none;
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share{
        width: auto;
        padding: 0;
        top: 0;
        margin-top: 0;
      }
    }
  }
  .search-bar {
    input[type="search"]{
      height: 50px;
    }
    button{
      font-size: 18px;
    }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
