// blog page 2022
.hero-area-blog {
  .blog-banner {
    img {
      object-fit: cover;
    }
  }
  .blog-title-content {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 44px;
      line-height: 130%;
      letter-spacing: -0.5px;
      margin-bottom: 15px;
      a {
        color: $ac-color-heading;
      }
    }

    .meta {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .author {
        margin-right: 30px;
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: #000000;
          letter-spacing: 0;
        }
      }

      .date {
        .fa {
        }

        strong {
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;

          color: #000000;
        }
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 20px;
    }

    a.inline-button {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 1.25px;
      color: #1c1c1c;
      .fa {
      }
    }

    .social-share {
      margin-top: 40px;
      label {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #3e393e;
        margin-bottom: 15px;
      }

      .social-share-button {
        li {
          a {
            .fa {
            }
          }
        }
      }
    }
  }
}

ul.social-share-button {
  padding: 0;
  display: flex;
  align-items: center;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
    a {
      width: 46px;
      height: 46px;
      background: #ddd;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i.fa {
        font-size: 1rem;
      }
    }
  }
}

.search-filter-area {
  margin: 30px 0;
  .filter-wrapper {
    border: 1px solid $ac-white-light;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
  }
  .search-area {
    .fa {
      font-size: 22px;
      margin-right: 1rem;
    }

    input {
      border: none;
      width: 300px;
      font-size: 16px;
      font-weight: 500;
      padding-right: 1rem;
      color: $ac-color-heading;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
      &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        /* place-holder-color */

        color: #999999;
      }
    }
  }

  .filter-area {
    display: flex;
    select {
      width: 100px;
      border: none;
      background: transparent;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 1.25px;
      color: #1c1c1c;
      text-transform: uppercase;
    }

    .viewing-mode {
      display: flex;
      align-items: center;
      label {
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 1.25px;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      span {
      }

      button {
        width: 40px;
        height: 40px;
        border: none;
        background: #e5ebf0;
        border-radius: 2px;
        font-size: 1rem;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
        &.is-active {
          background-color: $ac-primary;
          color: $ac-white;
          .fa {
          }
        }
        .fa {
        }
      }
    }
  }
}

.blog-items-area {
  .left-sidebar {
    .collapsable-menu {
      margin-bottom: 30px;
      button {
        border: none;
        background-color: transparent;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: #3e393e;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        cursor: pointer;
        padding: 0;
        .fa {
        }
      }

      .ac-single-checkbox {
        margin-bottom: 10px;
        .is-checkradio {
          margin-right: 10px;
        }

        label {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #3e393e;
        }
      }
    }
  }

  .blog-items {
    .single-blog {
      a {
        img {
          object-fit: cover;
        }
      }

      .meta {
        .author {
          .fa {
          }

          a {
          }
        }

        .date {
          .fa {
          }

          strong {
          }
        }
      }

      h2 {
        a {
        }
      }

      p {
      }

      .inline-button {
        .fa {
        }
      }
    }
  }
}
// blog page 2022

//blog hero area start
.blog-hero-area {
  &.section-padding {
    padding: 160px 0 100px;
  }
  .blog-slider-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    .social-media-share {
      border: 10px solid $ac-primary;
      width: 240px;
      padding: 30px;
      text-align: right;
      position: absolute;
      top: 50%;
      margin-top: -170px;
      right: 0;
      z-index: 9;
    }
    .blog-slider-inner {
      overflow: hidden;
      position: relative;
      z-index: 1;
      .slider-button {
        position: absolute;
        right: 42.6%;
        bottom: 0px;
        z-index: 2;
        .slide {
          background: #fff;
          border: 1px solid transparent;
          width: 88px;
          height: 80px;
          font-size: 30px;
          cursor: pointer;
          display: block;
          img {
            animation: arrowAnimate 2s infinite;
          }
          &:hover {
            img {
              animation-play-state: paused;
            }
          }
        }
      }
      .single-blog {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        display: none;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &.show {
          opacity: 1;
          visibility: visible;
          display: block;
        }
        .blog-content-wrapper {
          .blog-content-inner {
            padding-right: 50px;
            .meta-date {
              margin-bottom: 6px;
            }
            h1 {
              display: block;
              font-size: 36px;
              line-height: 44px;
              margin-bottom: 7px;
            }
            .description {
              line-height: 26px;
              margin-bottom: 20px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              line-clamp: 6;
              -webkit-line-clamp: 6;
              box-orient: vertical;
              -webkit-box-orient: vertical;
            }
          }
        }
        .blog-slider-image {
          max-width: 82%;
          height: 620px;
          background-size: cover;
          background-position: center;
          display: block;
          user-select: none;
          overflow: hidden;
          background-color: #333;
        }
      }
    }
  }
}
.blog-bg-1 {
  background-image: url(/assets/images/slider-image/s-1.png);
}
.blog-bg-2 {
  background-image: url(/assets/images/slider-image/s-2.png);
}
.blog-bg-3 {
  background-image: url(/assets/images/slider-image/s-3.png);
}

//blog body start
.blog-left-sidebar {
  position: sticky;
  top: 120px;
  padding-left: 10px;
}

// category start
.widget-title {
  position: relative;
  z-index: 1;
  margin-left: -8px;
  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #333;
    padding-left: 5px;
    border-radius: 2px;
  }
  h3 {
    font-size: 22px;
    font-weight: 700;
    padding-left: 15px;
    margin-bottom: 10px;
    line-height: 1;
  }
}

.blog-category {
  height: calc(100vh - 150px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-moz-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-ms-scrollbar {
    border-radius: 50px;
    width: 0px;
  }

  &::-webkit-scrollbar:hover {
    width: 0px;
  }

  &::-moz-scrollbar:hover {
    width: 0px;
  }

  &::-ms-scrollbar:hover {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-moz-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-ms-scrollbar-thumb {
    background-color: #929292;
    border-radius: 50px;
    height: 2px !important;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &::-moz-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &::-ms-scrollbar-thumb:hover {
    background-color: #929292;
  }

  &:hover::-webkit-scrollbar-corner {
    height: 40px;
  }

  &:hover::-moz-scrollbar-corner {
    height: 40px;
  }

  &:hover::-ms-scrollbar-corner {
    height: 40px;
  }
  ul {
    li {
      a {
        font-size: 16px;
        font-weight: 500;
        color: #74818d;
        display: block;
        padding: 10px;

        &:hover,
        &.is-active {
          color: $ac-primary;
        }
      }
    }
  }
}

// single blog start
.single-blog-item {
  overflow: hidden;
  transition: 0.3s ease-in-out;

  &:hover {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 3px rgba(15, 80, 100, 0.16);
    .blog-image {
      transform: scale(1.3);
    }

    .blog-description {
      h2 {
        a {
          color: $ac-primary !important;
        }
      }
    }
  }

  .blog-image-wrapper {
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    .blog-image {
      background-size: cover;
      background-position: center;
      background-color: #ddd;
      background-repeat: no-repeat;
      height: 234px;
      display: block;
    }
  }

  .single-blog-content {
    padding: 20px 20px;
    border: 1px solid #eaebf5;
    border-radius: 0 0 4px 4px;
    border-top: transparent;
    overflow: hidden;
    min-height: 250px;

    .blog-meta {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;

      .meta-date {
        i {
          color: $ac-primary;
          padding-right: 5px;
        }
      }

      .meta-author {
        a {
          font-weight: 500;
          text-align: right;
          span {
            color: $ac-color-text;
            font-weight: 400;
          }
        }
      }
    }

    .blog-description {
      overflow: hidden;

      h2 {
        a {
          font-size: 16px;
          line-height: 26px;
          font-weight: 700;
          display: block;
          margin-bottom: 10px;
          color: $ac-color-heading;
        }
      }

      p {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        box-orient: vertical;
        -webkit-box-orient: vertical;
      }

      .inline-button {
        float: right;
      }
    }
  }
}

/*=================================================================================================
                                    Responsive code start
=================================================================================================*/
/**************************************************************** 
                  Full HD Min Width 1407
**************************************************************** */
/* Full HD Min Width 1408px */
@media (min-width: 1408px) {
}

/**************************************************************** 
                  Widescreen Between 1216px and 1407px
**************************************************************** */
@media (min-width: 1216px) and (max-width: 1407px) {
}

/**************************************************************** 
                  Desktop Between 1024px and 1215px
**************************************************************** */
@media (min-width: 1024px) and (max-width: 1215px) {
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share {
        padding: 30px 15px;
      }
    }
  }
}

/**************************************************************** 
                  Tablet Between 769px and 1023px
**************************************************************** */
@media (min-width: 769px) and (max-width: 1023px) {
  .blog-hero-area {
    &.section-padding {
      padding-top: 160px;
      padding-bottom: 0;
    }
    .blog-slider-wrapper {
      .blog-slider-inner {
        .single-blog {
          .blog-content-wrapper {
            .blog-content-inner {
              padding-right: 50px;
              h1 {
                font-size: 36px;
                line-height: 50px;
              }
            }
          }
        }
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share {
        border: none;
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share {
        width: auto;
        padding: 0;
      }
    }
  }
  .search-bar {
    input[type="search"] {
      height: 50px;
    }
    button {
      font-size: 18px;
    }
  }
}

/**************************************************************** 
                    Mobile Up to 768px. 
**************************************************************** */
@media only screen and (min-width: 100px) and (max-width: 768px) {
  .blog-hero-area {
    &.section-padding {
      padding-top: 160px;
      padding-bottom: 0;
    }
    .blog-slider-wrapper {
      .blog-slider-inner {
        .slider-button {
          right: 0;
        }
        .single-blog {
          .blog-content-wrapper {
            .blog-content-inner {
              padding-right: 80px;
              h1 {
                font-size: 30px;
                line-height: 48px;
              }
            }
          }
          .blog-slider-image {
            max-width: 100%;
            height: 270px;
          }
        }
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share {
        border: none;
      }
    }
  }
  .blog-hero-area {
    .blog-slider-wrapper {
      .social-media-share {
        width: auto;
        padding: 0;
        top: 0;
        margin-top: 0;
      }
    }
  }
  .search-bar {
    input[type="search"] {
      height: 50px;
    }
    button {
      font-size: 18px;
    }
  }
}

/*=================================================================================================
                                    Responsive code end
=================================================================================================*/
